#category {
    border: 0px solid red;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    position: fixed;
  }
  #category > h3 {
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 100;
  }
  #category > h3:hover {
    font-weight: bold;
  }