.container {
    text-align: center;
  }
  img{
      cursor: pointer;
      width: 100%;
  }
  .cards {
    border: 0px solid red;
    width: 85%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 20px;
  }
  .cards > div {
    border: 0px solid blue;
    text-align: center;
    cursor: pointer;
  }
  .cards > div > img {
    width: 100%;
  }
  .container h1 h3 {
    margin-top: 20px;
    font-family: sans-serif;
  }
  .popularCategories {
    border: 0px solid red;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .popularCategories > div {
    border: 0px solid black;
    cursor: pointer;
  }

  .popularCategories > img {
    width: 100%;
  }
  .DISCOUNT_PE_DISCOUNT {
    border: 0px solid blue;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    cursor: pointer;
  }
  .THE_STOOPID_COLLECTION {
    border: 0px solid blue;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    cursor: pointer;
  }
  img{
      cursor: pointer;
  }

  .BEST_BARGAIN_CORNER{
      border: 0px solid blue;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4,1fr);
  }
  
  .BEST_BARGAIN_CORNER>div>img{
     
  }